{% include 'base.html' %}

<body>

{% block content %}
<div>
    <div class="container mt-5">
        <div class="section">
            <h3>Courses we offer</h3>
            <p>
                Course A<br>
                This is basic course for beginners. <br> <br>
                Course B<br>
                This is intermediate course for undergrads. <br> <br>
                Course C<br>
                This is advance course for graduates. <br> <br>
                Course D<br>
                This is expert course for post grads. <br> <br>
            </p>
        </div>
        <div class="section">
            <h3>Tests we offer</h3>
            <p>
                Test A<br>
                This is basic test for beginners. <br> <br>
                Test B<br>
                This is intermediate test for undergrads. <br> <br>
                Test C<br>
                This is advance test for graduates. <br> <br>
                Test D<br>
                This is expert test for post grads. <br> <br>
            </p>
        </div>
    </div>
</div>
{% endblock %}

</body>


